<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Site Parser</title>
    </head>
    <body>
        <div>
            <form action="/logout" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <div><a href="/sites">Show sites</a></div>
        <div><a href="/articles/0">Show articles</a></div>
        <div><a href="/create_article">Add new Article</a></div>
    </body>
</html>